{% extends "layout.html" %}

{% block title %}
    Delete account
{% endblock %}

{% block main %}

    <div class="alert alert-danger" role="alert">
        <p>Do you really want to delete current account? All data will be lost.</p>
        <div>
            <form action="/delete" method="post" >
                <button class="btn btn-danger" name="question" value="yes">YES</button>
                <button class="btn btn-outline-secondary" name="question" value="no">NO</button>
            </form>
        </div>
    </div>
{% endblock %}
